<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3b541c4d-2609-4821-bec0-dc18839b068a/resourceGroups/DemoData/providers/Microsoft.Web/sites/DemoDeploy20230224102936</ResourceId>
    <ResourceGroup>DemoData</ResourceGroup>
    <ApiResourceId>/subscriptions/3b541c4d-2609-4821-bec0-dc18839b068a/resourceGroups/DemoData/providers/Microsoft.ApiManagement/service/DemoDeploytestapi/apis/DemoDeployAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demodeploy20230224102936.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8cf02d74-fc95-417f-8db3-6837401b4d9f</ProjectGuid>
    <MSDeployServiceURL>demodeploy20230224102936.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DemoDeploy20230224102936</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$DemoDeploy20230224102936</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>