@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This is Demo Deploy with CI/CD Implementation</h3>
    <p>Hello, world! The time on the server is @DateTime.Now</p>
    <p>This is Web app is Developed in ASP.NET Core</p><br />
</div>
